@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>About</h1>
    <p class="lead">Test project to try out some new techie things</p>
    <p>
        I'm a developer and always trying to keep up to date with new technology. This is a site i'm playing with to test
        out the latest Microsoft technologies (WebApi, Entity Framework 6, ...). And alsp see what Angular.js and
        Bootstrap.js are all about as well.
    </p>
</div>

